@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=fallback');
@import url('https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css');
@import '_reset.scss';

$color-white: #fff;
$color-black: #2c2c2c;
$color-green: #3bb763;
$color-blue: #02a4e0;
$color-yellow: #efce4a;

$normal-font-size: (desktop: 20px, mobile: 16px);

@mixin min-width($breakpoints) {
  @media screen and (min-width: $breakpoints) {
    @content;
  }
}

@mixin text-style {
  font-size: map-get($normal-font-size, mobile);
  font-family: 'Noto Sans TC', sans-serif, Arial;
  line-height: 1.6em;
  letter-spacing: 1px;
  color: $color-white;

  @include min-width(1025px) {
    font-size: map-get($normal-font-size, desktop);
  }
}

body {
  @include text-style;

  overflow-x: hidden;
  overflow-y: auto;
  background-color: $color-black;
  -webkit-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
}

p {
  margin-bottom: 1rem;
}

[v-cloak] {
  display: none;
}

.wrapper {
  padding: 1rem 0 2rem;
}

.wrap {
  width: 100%;
  max-width: calc(100% - 30px);
  margin: 0 auto;

  @include min-width(768px + 30px) {
    max-width: 768px;
  }
}

.main {
  margin: 30px 0;
}

.textarea {
  @include text-style;

  width: 100%;
  height: 200px;
  padding: 10px 15px;
  margin: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  color: $color-yellow;
  background-color: $color-black;
  border: 1px $color-white solid;
  border-radius: 5px;
  outline: none;
  resize: none;
  transform: translateZ(0);
  box-sizing: border-box;
  word-break: break-all;
}

.text-center {
  text-align: center;
}

.select__control {
  display: flex;
}

.select__fieldset {
  width: 50%;
  flex: 1;

  input[type='radio'] {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;

    &#encode + label {
      background-color: $color-green;
    }

    &#decode + label {
      background-color: $color-blue;
    }

    &:checked + label::before {
      opacity: 1;
    }
  }

  label {
    padding: 10px;
    display: block;
    text-align: center;
    color: $color-white;
    cursor: pointer;

    &::before {
      content: 'check';
      margin-right: 5px;
      margin-left: -#{map-get($normal-font-size, mobile)};
      display: inline-block;
      white-space: nowrap;
      opacity: 0;
      vertical-align: top;
      line-height: 1.6em;
      letter-spacing: normal;
      word-wrap: normal;
      direction: ltr;
      text-transform: none;
      text-rendering: optimizeLegibility;

      @include min-width(1025px) {
        margin-left: -#{map-get($normal-font-size, desktop)};
        font-size: map-get($normal-font-size, desktop);
      }

      font: {
        family: 'Material Icons';
        weight: bold;
        style: normal;
        size: map-get($normal-font-size, mobile);
        feature-settings: 'liga';
      }
    }

    span {
      display: none;

      @include min-width(370px) {
        display: inline;
      }
    }
  }
}

.article {
  margin: 1rem 0;
  color: $color-white;
}

.title {
  margin: 1rem 0 1.5rem;
  font-size: 26px;
  text-align: center;
  color: $color-white;
  line-height: 1.6em;

  @include min-width(768px) {
    font-size: 35px;
  }

  &::before {
    content: '';
    width: 1.6em;
    height: 1.6em;
    margin-right: 1rem;
    display: inline-block;
    background: url('../../img/icon.svg') no-repeat center/70%;
    vertical-align: top;
    border: 3px $color-white solid;
    border-radius: 7px;
    box-sizing: border-box;
  }
}

.caption {
  display: block;
  margin-bottom: 10px;
}

.row {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include min-width(480px) {
    justify-content: center;
  }
}

.btn {
  @include text-style;

  width: 100%;
  padding: 10px 25px;
  margin: 5px 0;
  display: block;
  background-color: transparent;
  border: 1px $color-white solid;
  border-radius: 5px;
  outline: none;
  font: inherit;
  cursor: pointer;
  box-sizing: border-box;

  @include min-width(370px) {
    width: calc((100% - 10px) / 2);
  }

  @include min-width(480px) {
    width: auto;
    min-width: 160px;
    margin-right: 5px;
    margin-left: 5px;
  }

  @include min-width(1025px) {
    padding-top: 7px;
    padding-bottom: 7px;

    &:hover {
      color: $color-black;
      background-color: $color-white;
    }
  }

  &:active {
    color: $color-black;
    background-color: $color-white;
  }
}

.copyright {
  font-size: 1rem;
  line-height: 1.4em;
  text-align: center;

  a {
    @include min-width(1025px) {
      &:hover,
      &:active {
        color: $color-yellow;
      }
    }
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 1000;
}

.loading-text {
  text-align: center;
  color: $color-white;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;

  > div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background-color: $color-white;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;

    @at-root .is-encode & {
      background-color: $color-green;
    }

    @at-root .is-decode & {
      background-color: $color-blue;
    }

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
